#placehere {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

#placehere img {
  position: relative;
  width: 30%;
  margin: 5% 1.665% 0% 1.665%;
}

.btn_class {
  position: relative;
  width: 1px;
  height: 1px;
  margin-top: 5%;
  margin-left: -5%;
  margin-right: 3.3%;
  background: none;
  border: none;
}

.btn_class i {
  font-size: 50px;
  color: darkred;
}

.btn_add {
  width: 30%;
  margin: 5% 1.665% 0 1.665%;
  background: none;
  border: 3px solid var(--red-background);
  color: var(--red-background);
}

.btn_add i {
  font-size: 50px;
}

@media only screen and (max-width: 1129px) {
  #placehere {
    padding-top: 25px;
  }

  #placehere img {
    width: 47%;
  }

  .btn_class {
    margin-left: -10%;
    margin-right: 9%;
  }
}

@media only screen and (max-width: 1129px) {
  #placehere {
    padding-top: 10px;
  }

  #placehere img {
    width: 97%;
    margin: 5% 1.665% 0% 1.665%;
  }

  .btn_class {
    margin-left: -10%;
    margin-right: 0%;
  }

  .btn_class i {
    font-size: 40px;
  }
}